@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
  }

  body {
    @apply text-font-color bg-bg-color bg-gradient-to-br from-bg-color to-secondary-bg-color;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button {
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: 0.875rem;
  }

  section {
    @apply mx-auto py-8 max-w-screen-xl;
  }

  .sublist {
		@apply absolute bg-secondary-bg-color p-4 rounded-lg shadow-lg z-10;
  }

	.button { 
		@apply block size-fit bg-secondary-bg-color text-font-color text-xl font-semibold py-2 px-4 rounded-xl transition-colors;
	}
	.button:hover {
		@apply bg-secondary-bg-color/70 text-font-color/70;
	}

	.sublist {
		opacity: 0;
		pointer-events: none;
		transform: translateY(-10px);
		transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
	}

  .sublist.open {
		pointer-events: auto;
		transform: translateY(0);
		opacity: 1;
  }
	
}
