@tailwind base;
@tailwind components;
@tailwind utilities;

nav ul li {
  position: relative;
}

.sublist {
	position: absolute;
	display: none;
}


.sublist.open {
	display: block;
}

.sublist-wrapper:hover .sublist {
	display: block;
}

.section {
	@apply mx-auto p-4 max-w-screen-lg;
}

