@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  interpolate-size: allow-keywords;
}

textarea {
	resize: none;
}

@layer base {
  body {
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
  }

  body {
    @apply text-font-color bg-bg-color bg-gradient-to-br from-bg-color to-secondary-bg-color flex flex-col min-h-screen justify-between;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .more-assets-list,
  thead th,
  button {
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: 0.875rem;
  }

  section {
    @apply mx-auto py-16 max-w-screen-xl;
  }

  .sublist {
    @apply absolute bg-secondary-bg-color p-4 rounded-lg shadow-lg z-10;
  }

  .button {
    @apply block size-fit bg-secondary-bg-color text-font-color text-xl font-semibold py-2 px-4 rounded-xl transition-all shadow-lg outline outline-2 outline-offset-2 outline-transparent;
  }

  .button.accent {
    @apply bg-accent-color text-secondary-font-color;
  }

  .button.accent:hover {
    @apply bg-accent-color/80 text-secondary-font-color/80;
  }

  .button:hover {
    @apply bg-secondary-bg-color/70 text-font-color/70;
  }

  .button:focus {
    @apply outline-accent-color outline-2 outline-offset-2;
  }

	.label {
@apply block text-sm/6 font-medium text-font-color;
	}

  .input {
    @apply block w-full rounded-xl outline shadow-lg outline-2 outline-offset-2 outline-transparent py-1 px-2 text-secondary-font-color/70 transition-all bg-font-color;
  }
  .input:focus {
    @apply outline-accent-color outline-2 outline-offset-2;
  }

  .input:not(:placeholder-shown):valid {
    @apply outline-green-500 outline-2 outline-offset-2;
  }
  .input:not(:placeholder-shown):invalid {
    @apply outline-red-500 outline-2 outline-offset-2;
  }

	.textarea {
		@apply block w-full rounded-xl shadow-lg outline outline-2 outline-offset-2 outline-transparent py-1 px-2 text-secondary-font-color/70 transition-all bg-font-color;
	}

	.textarea:focus {
		@apply outline-accent-color outline-2 outline-offset-2;
	}

  .select {
    @apply block w-full rounded-xl outline outline-2 shadow-lg outline-offset-2 outline-transparent py-1 px-2 text-secondary-font-color/70 transition-all bg-font-color;
  }

  .select:focus {
    @apply outline-accent-color outline-2 outline-offset-2;
  }

  .error {
    @apply !outline-red-500 outline-2 outline-offset-2;
  }

  .link {
    @apply text-accent-color underline underline-offset-2 decoration-2 outline outline-transparent outline-offset-2 outline-2 rounded transition-all;
  }

  .link:hover {
    @apply text-accent-color/70 decoration-accent-color/70;
  }

  .link:focus {
    @apply outline-accent-color outline-2 outline-offset-2;
  }

  .more-assets-list {
    @apply bg-secondary-bg-color rounded-xl shadow-lg transition-colors;
  }

  .more-assets-list:hover {
    @apply bg-accent-color/50;
  }

  .more-assets-list.active {
    @apply bg-accent-color text-secondary-font-color;
  }

  .more-assets-list.active:hover {
    @apply bg-accent-color/70;
  }

  .sublist {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition:
      opacity 0.2s ease-in-out,
      transform 0.2s ease-in-out;
  }

  .sublist.open {
    pointer-events: auto;
    transform: translateY(0);
    opacity: 1;
  }

  .filters-details {
  }

  .filters-details::details-content {
    overflow: hidden;
    block-size: 0;

    transition:
      block-size 0.5s,
      content-visibility 0.5s,
      outline 0.5s;
    transition-behavior: allow-discrete;
    @apply outline-transparent outline-2 outline-offset-2 outline p-2;
  }

  .filters-details[open]::details-content {
    block-size: auto;
  }

  .filters-summary {
    @apply cursor-pointer size-fit outline-transparent outline-2 outline-offset-2 outline transition-all rounded;
  }
  .filters-summary:focus {
    @apply outline-accent-color outline-2 outline-offset-2;
  }

  .filters-details > div {
    padding-block: 1rem;
  }

	.splide__slide.thumbnail.is-active {
		@apply border-accent-color;
	}

	.asset-grid {
		display: grid;
		grid-template-columns: 1fr auto;
		grid-template-rows: auto;
		gap: 1rem;
	}
}
